body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url('./images/Bg_To_Do_List.webp');
    background-size: cover;
    background-repeat: no-repeat; */
}

main {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 50px 550px;
    gap: 10px;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 5px;
    background-color: #fda4af;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    grid-area: 1/ 1/ 3/ 2;
    border-radius: 5px;
    background-color: #e2e8f0;


}

.checkBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;

}



.checkBox::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: green;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.checkBox:hover::before {
    content: "✓";
    opacity: 0.5;
}

#Container {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 5px;
    /* background-color: #94a3b8; */

}

svg {
    width: 20px;
    height: 20px;
}

#task {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0 0 10px;
}

/* #task:hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
} */

#task svg {
    background-color: #dc2626;
    border-radius: 50%;
    fill: white;
}

#task :hover {
    cursor: pointer;
    -webkit-transform: scale(1.09);
}

#task button {
    border: 0;
    font-size: 16px;
    color: #b91c1c;
    background-color: inherit;
}

#task button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.09);
}

.listContainer {
    display: flex;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 1px 0px 3px 0px;
    margin: 14px 14px 0 0;
    /* display: grid;
    grid-template-columns: 10px fr;
    grid-template-rows: 20px 10px; */
}

.checkBoxContainer {}

.taskContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* .innerTaskContainer :first-child {
} */

.taskTitle, .newProject-task-title, .editableSaveTaskEl {
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    text-decoration-color: red;

}

.taskDescription, .newProject-description {
    margin: 0;
    font-size: 14px;

}

.taskPriority {
    margin: 0;
    font-size: 20px;

}

.innerTaskHandler {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0px 35px 0 0;
}

.inbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0 0 10px;
}

.inbox {
    font-size: 17px;

}

.inboxListContainer {
    display: flex;
    gap: 5px;

}

.inboxTaskContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.inboxTaskTitle {
    margin: 0;
    font-size: 18px;
}

.inboxTaskDescription {
    margin: 0;
    font-size: 14px;

}

.inboxTaskPriority {
    margin: 0 20px 0 0;
    font-size: 20px;

}

.dueDate {
    margin: 0;

}

.edit {
    width: 800px;
    border: 0;
}

#projects h3 {
    margin: 0 0 0 10px;
}

#form {
    background-color: #64748b;
    border-radius: 10px;
    height: 140px;
    min-width: 30%;
    max-width: 100%;

    display: none;
    box-shadow: #FFEB3B -4px 5px 0px 2px;
}

#ProjectForm {
    background-color: #64748b;
    border-radius: 10px;
    height: 140px;
    display: none;
    box-shadow: #FFEB3B -4px 5px 0px 2px;
}


.first-inputContainer input, .PtitleInputContainer input {
    width: 838px;
    height: 25px;
    border: none;
    outline: none;
    color: white;
    margin: 10px 0 0 0;
    background-color: inherit;
}

.first-inputContainer input::placeholder, .PtitleInputContainer input::placeholder {
    color: white;
    padding: 0 10px;
    opacity: 1;
    /* Firefox */
}

.second-inputContainer input, .PdescriptionInputContainer input {
    width: 838px;
    height: 25px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.second-inputContainer input::placeholder, .PdescriptionInputContainer input::placeholder {
    padding: 0 10px;
    color: white;
    opacity: 1;
    /* Firefox */
}

.other-options-on-forms, .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.other-options-on-forms button, #priority {
    padding: 7px;
    border-radius: 9px;
}

#projectPriority, .footer {
    padding: 7px;
    border-radius: 9px;
}

.addProjectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.addProjectsContainer svg {
    width: 25px;
    height: 25px;
}

#addNewProjectEl {
    margin: 0;
    font-size: 19px;
}

.choose_projects {
    margin: 0 0 10px 10px;
    display: flex;
    align-self: center;
    justify-self: center;
}

#project-dropdown {
    border: 0;
    background-color: inherit;
    margin: 0 0 0 15px;
    font-size: 15px;
    font-weight: 550;
}

#project-dropdown:focus {
    border: none;
    outline: none;
}

#newProjectsFormContainerEl {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* box-shadow: 1px 3px 3px 1px; */
}



.inputNewprojectFormName {
    display: none;
    background-color: #cee3e3;
    width: 320px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 9px 3px 0px;
}

.inputNewProjectName {
    width: 200px;
    height: 19px;


}

#newProjectTasksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    box-shadow: #5c5555 1px 3px 3px 1px;
    border-radius: 10px;
    padding: 10px;
}

svg.addTask {
    border-radius: 50%;
    fill: wheat;
    background-color: red;
}

.newProjectAddBtn {
    border: 0;
    background-color: inherit;
    font-weight: 500;
}